

body{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(130deg,#1abc9c,#ecf0f1);
    display: flex;
    justify-content: center;
    align-items: center;
}

from.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.btc-submit:hover {
    color: #fff;
    background: # 1abc9c;
    box-shadow: 0 0 10 px rgba(0,0,0,0.1);
}
h3{
    margin: 20px;
    color: #8B0000;
    font-weight: 500;
}
h1{
    margin: 10px;
    color: #2f3640;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
    transform: translateY(100px);
}
.product-list {
    border: 2px solid black;
}
.product-list > ul > li {
    color: gray;
}

/*>  transalation     */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --secondary-color: #ffd32a;
    --contrast-color: #1abc9c,#ecf0f1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: var(--contrast-color);
}



.container_animation {
    display: flex;
    height: 70vh;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    animation: expand .8s ease forwards;
    background-color: var(--contrast-color);
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all .8s ease;
}


.title {
    overflow: hidden;
    height: auto;
}



@keyframes slideIn {
    0% {
        transform: translateX(500px) scale(.2);
    }
    100% {
        transform: translateX(0px) scale(1);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes expand {
    0% {
        transform: translateX(1400px);
    }
    100% {
        transform: translateX(0px);
    }
}


/* section on to top */
.to-top{
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 40px;
    height: 40px;
    background: rgb(121, 121, 121);
    color: #fff;
    z-index: 9999;
    border-radius: 50px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}
.to-top:hover{         /* hover = คือการเอาเมาส์ไปชีเเล้วเปลี่ยนสี */
    color: rgb(0, 0, 0);
    background: rgb(255, 81, 0);

}






